In [ ]:
import os
# Configure kaggle
os.chdir('/root/')
!mkdir -p .kaggle
os.chdir('/root/.kaggle')
!wget --no-check-certificate 'https://raw.githubusercontent.com/aakarsh12bansal/kagglecup_s1/main/kaggle%20(2).json' -O kaggle.json > /dev/null 2>&1
!ls /root/.kaggle

# Set permissions 
!chmod 600 /root/.kaggle/kaggle.json

# Create data folder
os.chdir('/content/')
!rm -rf data
!mkdir data
os.chdir('data')
!pwd

# Download data
!pip install -q kaggle
!kaggle competitions download -c cis-kaggle-1-3
!pwd
!ls
# Unzip data
!unzip cis-kaggle-1-3.zip train.csv test.csv

kaggle.json
/content/data
Downloading cis-kaggle-1-3.zip to /content/data
 69% 1.00M/1.45M [00:00<00:00, 1.12MB/s]
100% 1.45M/1.45M [00:01<00:00, 1.49MB/s]
/content/data
cis-kaggle-1-3.zip
Archive:  cis-kaggle-1-3.zip
  inflating: test.csv
  inflating: train.csv

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv('train.csv')
df

,season,episode,title,scene,speaker,line,Unnamed: 6
0,1,1,Pilot,1,Michael,All right Jim. Your quarterlies look very good...,NaN
1,1,1,Pilot,1,Jim,"Oh, I told you. I couldn't close it. So...",NaN
2,1,1,Pilot,1,Michael,So you've come to the master for guidance? Is ...,NaN
3,1,1,Pilot,1,Jim,"Actually, you called me in here, but yeah.",NaN
4,1,1,Pilot,1,Michael,"All right. Well, let me show you how it's done.",NaN
...,...,...,...,...,...,...,...
54621,9,24,Finale,8153,Creed,It all seems so very arbitrary. I applied for ...,NaN
54622,9,24,Finale,8154,Meredith,I just feel lucky that I got a chance to share...,NaN
54623,9,24,Finale,8155,Phyllis,I'm happy that this was all filmed so I can re...,NaN
54624,9,24,Finale,8156,Jim,I sold paper at this company for 12 years. My ...,NaN
54625,9,24,Finale,8157,Pam,I thought it was weird when you picked us to m...,NaN

In [ ]:
df.drop(['title'],inplace = True,axis=1)
df

,season,episode,scene,speaker,line,Unnamed: 6
0,1,1,1,Michael,All right Jim. Your quarterlies look very good...,NaN
1,1,1,1,Jim,"Oh, I told you. I couldn't close it. So...",NaN
2,1,1,1,Michael,So you've come to the master for guidance? Is ...,NaN
3,1,1,1,Jim,"Actually, you called me in here, but yeah.",NaN
4,1,1,1,Michael,"All right. Well, let me show you how it's done.",NaN
...,...,...,...,...,...,...
54621,9,24,8153,Creed,It all seems so very arbitrary. I applied for ...,NaN
54622,9,24,8154,Meredith,I just feel lucky that I got a chance to share...,NaN
54623,9,24,8155,Phyllis,I'm happy that this was all filmed so I can re...,NaN
54624,9,24,8156,Jim,I sold paper at this company for 12 years. My ...,NaN
54625,9,24,8157,Pam,I thought it was weird when you picked us to m...,NaN

In [ ]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [ ]:
df

,season,episode,scene,speaker,line
0,1,1,1,Michael,All right Jim. Your quarterlies look very good...
1,1,1,1,Jim,"Oh, I told you. I couldn't close it. So..."
2,1,1,1,Michael,So you've come to the master for guidance? Is ...
3,1,1,1,Jim,"Actually, you called me in here, but yeah."
4,1,1,1,Michael,"All right. Well, let me show you how it's done."
...,...,...,...,...,...
54621,9,24,8153,Creed,It all seems so very arbitrary. I applied for ...
54622,9,24,8154,Meredith,I just feel lucky that I got a chance to share...
54623,9,24,8155,Phyllis,I'm happy that this was all filmed so I can re...
54624,9,24,8156,Jim,I sold paper at this company for 12 years. My ...
54625,9,24,8157,Pam,I thought it was weird when you picked us to m...

In [ ]:
import re

def clean_text(text):
    #converting text to lowercase
    text = text.lower()
    #removing special characters
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    #removing extra whitespaces
    text = re.sub(r'\s+', ' ', text)
    #removing leading and trailing whitespaces
    text = text.strip()
    
    return text

In [ ]:

#try
# dialogue = "OH MY GOD JIMMY, vaLEntine's day is here!!!!!!!!!! WoW!!!!!!! >>>>>##"
# cleaned_dialogue = clean_text(dialogue)
# print(cleaned_dialogue)

In [ ]:
df['line'] = df['line'].apply(clean_text)

<ipython-input-9-f17f1fce616b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['line'] = df['line'].apply(clean_text)

In [ ]:
df

,season,episode,scene,speaker,line
0,1,1,1,Michael,all right jim your quarterlies look very good ...
1,1,1,1,Jim,oh i told you i couldnt close it so
2,1,1,1,Michael,so youve come to the master for guidance is th...
3,1,1,1,Jim,actually you called me in here but yeah
4,1,1,1,Michael,all right well let me show you how its done
...,...,...,...,...,...
54621,9,24,8153,Creed,it all seems so very arbitrary i applied for a...
54622,9,24,8154,Meredith,i just feel lucky that i got a chance to share...
54623,9,24,8155,Phyllis,im happy that this was all filmed so i can rem...
54624,9,24,8156,Jim,i sold paper at this company for 12 years my j...
54625,9,24,8157,Pam,i thought it was weird when you picked us to m...

In [ ]:
def convert_speaker(speaker):
    if 'Jim' in speaker and 'Dwight' not in speaker:
        return 1
    elif 'Dwight' in speaker and 'Jim' not in speaker:
        return 0
    else:
        return speaker

df['speaker'] = df['speaker'].apply(convert_speaker)
df

<ipython-input-11-b87e412ab462>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['speaker'] = df['speaker'].apply(convert_speaker)

,season,episode,scene,speaker,line
0,1,1,1,Michael,all right jim your quarterlies look very good ...
1,1,1,1,1,oh i told you i couldnt close it so
2,1,1,1,Michael,so youve come to the master for guidance is th...
3,1,1,1,1,actually you called me in here but yeah
4,1,1,1,Michael,all right well let me show you how its done
...,...,...,...,...,...
54621,9,24,8153,Creed,it all seems so very arbitrary i applied for a...
54622,9,24,8154,Meredith,i just feel lucky that i got a chance to share...
54623,9,24,8155,Phyllis,im happy that this was all filmed so i can rem...
54624,9,24,8156,1,i sold paper at this company for 12 years my j...
54625,9,24,8157,Pam,i thought it was weird when you picked us to m...

In [ ]:
#deleting rows without Jim or Dwight in the 'speaker' column
df = df[df['speaker'].isin([0,1])]
#resetting the index of the DataFrame
df = df.reset_index(drop=True)

In [ ]:
df

,season,episode,scene,speaker,line
0,1,1,1,1,oh i told you i couldnt close it so
1,1,1,1,1,actually you called me in here but yeah
2,1,1,5,0,shall i play for you pa rum pump um pum i have...
3,1,1,6,1,my job is to speak to clients on the phone abo...
4,1,1,7,1,whassup i still love that after seven years
...,...,...,...,...,...
13103,9,24,8140,1,there it is
13104,9,24,8141,0,do i get along with my coworkers well first of...
13105,9,24,8147,1,imagine going back and watching a tape of your...
13106,9,24,8148,1,thanks phyl
13107,9,24,8156,1,i sold paper at this company for 12 years my j...

In [ ]:
df = pd.DataFrame({
    'line': df['line'],
    'speaker': df['speaker']
})
df

                                                    line speaker
0                    oh i told you i couldnt close it so       1
1                actually you called me in here but yeah       1
2      shall i play for you pa rum pump um pum i have...       0
3      my job is to speak to clients on the phone abo...       1
4            whassup i still love that after seven years       1
...                                                  ...     ...
13103                                        there it is       1
13104  do i get along with my coworkers well first of...       0
13105  imagine going back and watching a tape of your...       1
13106                                        thanks phyl       1
13107  i sold paper at this company for 12 years my j...       1

[13108 rows x 2 columns]

In [ ]:
df.to_csv('cleaned_train.csv',index=False)

In [ ]:
from sklearn.model_selection import train_test_split

train_data, val_data = train_test_split(df, test_size=0.2, random_state=42)
val_data, test_data = train_test_split(val_data, test_size=0.5, random_state=42)

In [ ]:
train_data

                                                    line speaker
7588                                             lets go       0
6947                                          yeah maybe       1
5304   andy still doesnt know that angelas having an ...       1
415    okay so i know about most of these but you kno...       1
3207                                    which one is she       1
...                                                  ...     ...
11964                this is jim halpert leave a message       1
5191                    oh pam i really hate that copier       1
5390                               looks like a red wire       1
860    oh thats not advice what advice sounds like is...       1
7270   no dwight i meant yes in a perfect world someo...       1

[10486 rows x 2 columns]

In [ ]:
val_data

                                                    line speaker
8876   will you let me know when this whole seminar t...       1
9963   just going to walk over here whoa whoa im slip...       0
9910   theyre not my favorite people in the world i w...       0
4789   i know she loves me phyllis i am sure of it sh...       0
3387                                              no way       1
...                                                  ...     ...
10362                          oh hey have you seen gabe       0
4489   no way what did i say i said that theyd love t...       1
11013  nellie let me bobbleize him his name is now ca...       0
5613             what is that it is your birthday period       1
103                                                  hey       1

[1311 rows x 2 columns]

In [ ]:
test_data

                                                    line speaker
461          welcome to the eighth annual dundies awards       0
5082   no no no no no you want to wear that puppy rig...       0
3288    why dont you run the meeting you play with dolls       1
8507                                         i dont care       1
7497                                             alright       1
...                                                  ...     ...
8952                              i asked you a question       0
6496                                        who was that       1
12871  you know dwight this whole search for the assi...       1
9705                           like baboons or elephants       0
6110                                                  no       0

[1311 rows x 2 columns]

In [ ]:
import tensorflow as tf
!pip install transformers
from transformers import BertTokenizer, TFBertForSequenceClassification

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.29.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.14.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.13.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (2023.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)

In [ ]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

In [ ]:
def tokenize_data(line, speaker):
    line = [str(l) for l in line]  # Convert line to a list of strings
    tokenized_inputs = tokenizer(line, padding=True, truncation=True, return_tensors='tf')
    input_ids = tokenized_inputs['input_ids']
    attention_masks = tokenized_inputs['attention_mask']
    return input_ids, attention_masks, speaker

In [ ]:
train_line, train_speaker = train_data['line'].tolist(), train_data['speaker'].tolist()
val_line, val_speaker = val_data['line'].tolist(), val_data['speaker'].tolist()
test_line, test_speaker = test_data['line'].tolist(), test_data['speaker'].tolist()

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
train_speaker = label_encoder.fit_transform(train_speaker)
val_speaker = label_encoder.transform(val_speaker)
test_speaker = label_encoder.transform(test_speaker)

In [ ]:
train_input_ids, train_attention_masks, train_speaker = tokenize_data(train_line, train_speaker)
val_input_ids, val_attention_masks, val_speaker = tokenize_data(val_line, val_speaker)
test_input_ids, test_attention_masks, test_speaker = tokenize_data(test_line, test_speaker)

In [ ]:
model = TFBertForSequenceClassification.from_pretrained('bert-base-uncased', num_labels=2)

All model checkpoint layers were used when initializing TFBertForSequenceClassification.

Some layers of TFBertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [ ]:
optimizer = tf.keras.optimizers.Adam(learning_rate=1e-5)
loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
metric = tf.keras.metrics.SparseCategoricalAccuracy('accuracy')

In [ ]:
model.compile(optimizer=optimizer, loss=loss, metrics=[metric])
history = model.fit(
    x=(train_input_ids, train_attention_masks),
    y=train_speaker,
    validation_data=((val_input_ids, val_attention_masks), val_speaker),
    batch_size=32,
    epochs=5
)

Epoch 1/5
328/328 [==============================] - 451s 1s/step - loss: 0.6347 - accuracy: 0.6288 - val_loss: 0.5716 - val_accuracy: 0.7086
Epoch 2/5
328/328 [==============================] - 387s 1s/step - loss: 0.5485 - accuracy: 0.7179 - val_loss: 0.5706 - val_accuracy: 0.7094
Epoch 3/5
328/328 [==============================] - 387s 1s/step - loss: 0.4638 - accuracy: 0.7795 - val_loss: 0.5626 - val_accuracy: 0.7346
Epoch 4/5
328/328 [==============================] - 388s 1s/step - loss: 0.3714 - accuracy: 0.8269 - val_loss: 0.6246 - val_accuracy: 0.7223
Epoch 5/5
328/328 [==============================] - 380s 1s/step - loss: 0.2904 - accuracy: 0.8716 - val_loss: 0.7050 - val_accuracy: 0.7216

In [ ]:
from sklearn.metrics import classification_report
predictions = model.predict((test_input_ids, test_attention_masks))
predicted_labels = predictions.logits.argmax(axis=1)
predicted_labels = label_encoder.inverse_transform(predicted_labels)

true_labels = label_encoder.inverse_transform(test_speaker)

print(classification_report(true_labels, predicted_labels))

In [ ]:
df_2 = pd.read_csv('test.csv')
df_2

        id                                               line  Unnamed: 2
0        1  If I had one wish, it would be to have a mute ...         NaN
1        2  Dwight thinks he's the authority on everything...         NaN
2        3  The Schrutes are a proud farming family. We kn...         NaN
3        4  Sometimes I feel like this office is a never-e...         NaN
4        5   Moms, primarily. Yep. Soccer moms. Single mom...         NaN
...    ...                                                ...         ...
1985  1986  Uh, Wade actually has those on the road, but h...         NaN
1986  1987  Of course. He was here. She's the key. Amazing...         NaN
1987  1988  Every day feels like a battle between chaos an...         NaN
1988  1989  As has Ryan. As has Kelly. As has Meredith. As...         NaN
1989  1990  The office meetings are like a twisted game of...         NaN

[1990 rows x 3 columns]

In [ ]:
df_2 = df_2.loc[:, ~df_2.columns.str.contains('^Unnamed')]
df_2

        id                                               line
0        1  If I had one wish, it would be to have a mute ...
1        2  Dwight thinks he's the authority on everything...
2        3  The Schrutes are a proud farming family. We kn...
3        4  Sometimes I feel like this office is a never-e...
4        5   Moms, primarily. Yep. Soccer moms. Single mom...
...    ...                                                ...
1985  1986  Uh, Wade actually has those on the road, but h...
1986  1987  Of course. He was here. She's the key. Amazing...
1987  1988  Every day feels like a battle between chaos an...
1988  1989  As has Ryan. As has Kelly. As has Meredith. As...
1989  1990  The office meetings are like a twisted game of...

[1990 rows x 2 columns]

In [ ]:
df_2['line'] = df_2['line'].apply(clean_text)
df_2

        id                                               line
0        1  if i had one wish it would be to have a mute b...
1        2  dwight thinks hes the authority on everything ...
2        3  the schrutes are a proud farming family we kno...
3        4  sometimes i feel like this office is a neveren...
4        5  moms primarily yep soccer moms single moms nas...
...    ...                                                ...
1985  1986  uh wade actually has those on the road but hes...
1986  1987  of course he was here shes the key amazing hol...
1987  1988  every day feels like a battle between chaos an...
1988  1989  as has ryan as has kelly as has meredith as ha...
1989  1990  the office meetings are like a twisted game of...

[1990 rows x 2 columns]

In [ ]:
df_2.to_csv('cleaned_test.csv',index=False)

In [ ]:
test_data = df_2

In [ ]:
def tokenize_data_2(text):
    encoded_data = tokenizer.batch_encode_plus(
        text,
        add_special_tokens=True,
        padding='max_length',
        truncation=True,
        max_length=176,
        return_attention_mask=True,
        return_tensors='tf'
    )
    input_ids = encoded_data['input_ids']
    attention_masks = encoded_data['attention_mask']
    return input_ids, attention_masks

In [ ]:
test_input_ids, test_attention_masks = tokenize_data_2(test_data['line'].tolist())

In [ ]:
test_input_ids, test_attention_masks

(<tf.Tensor: shape=(1990, 176), dtype=int32, numpy=
 array([[  101,  2065,  1045, ...,     0,     0,     0],
        [  101, 14304,  6732, ...,     0,     0,     0],
        [  101,  1996,  8040, ...,     0,     0,     0],
        ...,
        [  101,  2296,  2154, ...,     0,     0,     0],
        [  101,  2004,  2038, ...,     0,     0,     0],
        [  101,  1996,  2436, ...,     0,     0,     0]], dtype=int32)>,
 <tf.Tensor: shape=(1990, 176), dtype=int32, numpy=
 array([[1, 1, 1, ..., 0, 0, 0],
        [1, 1, 1, ..., 0, 0, 0],
        [1, 1, 1, ..., 0, 0, 0],
        ...,
        [1, 1, 1, ..., 0, 0, 0],
        [1, 1, 1, ..., 0, 0, 0],
        [1, 1, 1, ..., 0, 0, 0]], dtype=int32)>)

In [ ]:
predictions = model.predict((test_input_ids, test_attention_masks))
predicted_labels = predictions.logits.argmax(axis=1)
predicted_labels = label_encoder.inverse_transform(predicted_labels)

63/63 [==============================] - 25s 393ms/step

In [ ]:
predicted_labels.shape

(1990,)

In [ ]:
submission_data = pd.DataFrame({
    'id': test_data['id'],
    'speaker': predicted_labels
})

In [ ]:
submission_data.to_csv('submission.csv', index=False)

In [ ]:
df

                                                    line speaker
0                    oh i told you i couldnt close it so       1
1                actually you called me in here but yeah       1
2      shall i play for you pa rum pump um pum i have...       0
3      my job is to speak to clients on the phone abo...       1
4            whassup i still love that after seven years       1
...                                                  ...     ...
13103                                        there it is       1
13104  do i get along with my coworkers well first of...       0
13105  imagine going back and watching a tape of your...       1
13106                                        thanks phyl       1
13107  i sold paper at this company for 12 years my j...       1

[13108 rows x 2 columns]

In [ ]:
train_line_ac, train_speaker_ac = df['line'].tolist(), df['speaker'].tolist()

In [ ]:
train_speaker_ac = label_encoder.fit_transform(train_speaker_ac)

In [ ]:
train_input_ids_ac, train_attention_masks_ac, train_speaker_ac = tokenize_data(train_line_ac, train_speaker_ac)

In [ ]:
modelfull = TFBertForSequenceClassification.from_pretrained('bert-base-uncased', num_labels=2)

All model checkpoint layers were used when initializing TFBertForSequenceClassification.

Some layers of TFBertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [ ]:
optimizer = tf.keras.optimizers.legacy.Adam(learning_rate=2e-5)
loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)

In [ ]:
from keras.callbacks import EarlyStopping

In [ ]:
early_stopping = EarlyStopping(
    monitor = 'loss',
    patience = 2,
    verbose = 1
)

In [ ]:
modelfull.summary

In [ ]:
modelfull.compile(optimizer=optimizer, loss=loss)
history = modelfull.fit(
    x=(train_input_ids_ac, train_attention_masks_ac),
    y=train_speaker_ac,
    batch_size=32,
    epochs=5,
    callbacks = early_stopping
)

Epoch 1/5
410/410 [==============================] - 471s 1s/step - loss: 0.6952
Epoch 2/5
410/410 [==============================] - 461s 1s/step - loss: 0.6946
Epoch 3/5
 72/410 [====>.........................] - ETA: 6:19 - loss: 0.6956

KeyboardInterrupt: ignored